<html>
<title>Better than google maps</title>
<link rel="icon" href="../static/logo-icon.png">
  <head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="/static/alternatesearchstyle.css" rel="stylesheet" type="text/css"/>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="../static/geoview.js">
    </script>

    <script type="text/javascript" src="../static/geoview.js"></script>
    <script type="text/javascript">
    var geo_location = [];
    var title = [];
    var picture = [];
    var flag = 0;

    "{% for review in reviews %}"
      geo_location[flag] = "{{review['geo_location']}}";
      title[flag] = "{{review['title']}}";
      picture[flag] = "{{review['picture']}}";
      flag++;
    "{% endfor %}"
    setVariables(geo_location, title, picture)
    </script>
  </head>
  <body>
    <div class="topnav">
      <table border = 0 width=100%>
        <tr><td class="not_active">
      <a href="{{ url_for('root') }}"><img src="../static/logo-dark.png" width="130" height="40"></a></td><td class="not_active">
      <a href="{{ url_for('preferences_show') }}">USER PREFERENCES</a></td><td class="not_active">
      <a href="{{ url_for('preferences_set') }}">CHOOSE PREFERENCES</a></td><td class="not_active">
      <a href="{{ url_for('view_reviews') }}">FEED</a></td><td class="not_active">
      <a href="{{ url_for('create_theme') }}">NEW THEME</a></td><td class="not_active">
      <a href="{{ url_for('view_themes') }}">VIEW ALL THEMES</a></td><td class="not_active">
      <a href="{{ url_for('create_review') }}">WRITE A REVIEW</a></td><td class="active">
      <a href="{{ url_for('get_geoview_page') }}">MAPS</a></td>
    </td>
    </tr>
    </table>
    </div>
    <style>
  #map {
    height: 89%;
  }</style>
    <div id="map"></div>
    <script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=<insert key here>">
        // We added the key in the above line but removed after google flagged it, message us to get it if you want to run the code
    </script>
  </body>
</html>
