<html>
<title>Your preferences</title>
<link rel="icon" href="../static/logo-icon.png">
<head>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="/static/alternatesearchstyle.css" rel="stylesheet" type="text/css"/>
</head>
    <body>
      <div class="topnav">
        <table border = 0 width=100%>
          <tr><td class="not_active">
        <a href="{{ url_for('root') }}"><img src="../static/logo-dark.png" width="130" height="40"></a></td><td class="active">
        <a href="{{ url_for('preferences_show') }}">USER PREFERENCES</a></td><td class="not_active">
        <a href="{{ url_for('preferences_set') }}">CHOOSE PREFERENCES</a></td><td class="not_active">
        <a href="{{ url_for('view_reviews') }}">FEED</a></td><td class="not_active">
        <a href="{{ url_for('create_theme') }}">NEW THEME</a></td><td class="not_active">
        <a href="{{ url_for('view_themes') }}">VIEW ALL THEMES</a></td><td class="not_active">
        <a href="{{ url_for('create_review') }}">WRITE A REVIEW</a></td><td class="not_active">
        <a href="{{ url_for('get_geoview_page') }}">MAPS</a></td class="not_active">
      </td>
      </tr>
      </table>
      </div>
<div class="topnav_footer"><i>This is your <b>preferencese</b> page where you can consult all data we store about you</i></div>
<div style="text-align: left; padding-left: 50px; padding-top: 15px;">
  <h1>User preferences</h1>
    <dt><b>Your prefered themes are: </b></dt> <br>
    {% for theme in details['themes']%}
    <a>{{ theme }}</a><br>
    </dl>
        {% endfor %}

  {% if details['themes'] %}
  <h2>You have set themes preferences, you are good</h2>
  {% else %}
  <h2>You don't have any preferences set</h2>
  {% endif  %}

</div>

</body>

</html>


<style>
  .preferences {

  margin: auto;

  }
