<html><title>Themes</title>
<link rel="icon" href="../static/logo-icon.png">
 <head>
   <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="/static/alternatesearchstyle.css" rel="stylesheet" type="text/css"/>
 </head>
    <body>
      <div class="topnav">
        <table border = 0 width=100%>
          <tr><td class="not_active">
        <a href="{{ url_for('root') }}"><img src="../static/logo-dark.png" width="130" height="40"></a></td><td class="not_active">
        <a href="{{ url_for('preferences_show') }}">USER PREFERENCES</a></td><td class="not_active">
        <a href="{{ url_for('preferences_set') }}">CHOOSE PREFERENCES</a></td><td class="not_active">
        <a href="{{ url_for('view_reviews') }}">FEED</a></td><td class="not_active">
        <a href="{{ url_for('create_theme') }}">NEW THEME</a></td><td class="active">
        <a href="{{ url_for('view_themes') }}">VIEW ALL THEMES</a></td><td class="not_active">
        <a href="{{ url_for('create_review') }}">WRITE A REVIEW</a></td><td class="not_active">
        <a href="{{ url_for('get_geoview_page') }}">MAPS</a></td class="not_active">
      </td>
    </tr>
      </table>
      </div>
<div class="topnav_footer"><i>Here you can see <b>all themes </b>ever created and still valid. Click on any of the titles below to go see the<b> reviews posted</b></i></div>
<!-- LOOP -->

{% for i in themes_data %}

<table border = 0 style = "width: 100%; top: 0; bottom: 0; left: 0; right: 0; border: 0px solid">
<br>
  <tr>
    <td><!-- row 1 column 1 --></td>
    <td><!-- row 1 column 2 --></td>
    <td><!-- row 1 column 3 --></td>
  </tr>
    <tr>
      <td><!-- row 2 column 1 --></td>

      <!-- THE CARD STARTS HERE -->
      <td class="card_theme">
        <table border = 0 style = "width: 100%; height: 100%; top: 0; bottom: 0; left: 0; right: 0;">
          <tr>
            <td rowspan = 2 width=170><center><img src = "https://storage.googleapis.com/apad-group8-bucket/img/themes/{{i['picture']}}"  width="150" height="150"></center></td>
            <td>Theme name: <a href="{{i['theme_name']}}">{{i['theme_name']}}</a></td>
          </tr>
            <tr>
              <td> Description: {{i['description']}}</td>
            </tr>
          </table>
      </td>

{% endfor %}

     <!-- THE CARD FINISHES HERE -->

            <td><!-- row 4 column 3 --></td>
        </tr>

  </table>

 </body>

</html>
